<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2>Register User</h2>

                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".profile"><span class="number">1</span> <span class="text">Profile</span></a>
                    <a ui-sref-active="active" ui-sref=".company"><span class="number">2</span> <span class="text">Company</span></a>
                    <a ui-sref-active="active" ui-sref=".roles"><span class="number">3</span> <span class="text">Roles</span></a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" class="fromNext" name="userRegForm" role="form" ng-submit="processForm()" novalidate>

                <!-- our nested state views will be injected here -->
                <div id="form-views"  ui-view></div>
            </form>

        </div>

        <!-- show our formData as it is being typed -->
	<pre>
		{{ formData }}
	</pre>


    </div>
</div>